*{box-sizing: border-box;}
main{
  display: flex;
  flex-direction: column;
  height: 100vh;

}

.content{

}
.content>div{
height: 100vh;

}
#top{
  background: url(src/assets/img/felix-mootheatter.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
